# Covid19 and Population Data and GDP Data Joined

In [1]:
import pandas as pd
import numpy as np

print('pandas version: ', pd.__version__)
print('numpy version: ', np.version.version)

pandas version:  1.0.3
numpy version:  1.18.1

In [2]:
# prepare the covid dataframe from covid data of Johns Hopkins University

df_covid = pd.read_csv('data/2020-04-03.csv')

# construct a dataframe with six columns: 
# Country_Region (index), Confirmed, Deaths, Recovered, Active
df_covid = df_covid.groupby('Country_Region').agg({'Confirmed': np.sum, 'Deaths': np.sum, 'Recovered': np.sum, 'Active': np.sum})

df_covid['fatality_rate'] = df_covid.Deaths / df_covid.Confirmed

df_covid

                    Confirmed  Deaths  Recovered  Active  fatality_rate
Country_Region
Afghanistan               281       6         10     265       0.021352
Albania                   304      17         89     198       0.055921
Algeria                  1171     105         62    1004       0.089667
Andorra                   439      16         16     407       0.036446
Angola                      8       2          1       5       0.250000
...                       ...     ...        ...     ...            ...
Venezuela                 153       7         52      94       0.045752
Vietnam                   237       0         85     152       0.000000
West Bank and Gaza        194       1         21     172       0.005155
Zambia                     39       1          2      36       0.025641
Zimbabwe                    9       1          0       8       0.111111

[181 rows x 5 columns]

In [3]:
# prepare the population dataframe from population data of united nations.
# The population columns are all in thousand persons. 
population = pd.read_csv('data/WPP2019_TotalPopulationBySex.csv')
pop2019 = population[population.Time == 2019]

pop2019.Location.replace(
    {'Bolivia (Plurinational State of)':'Bolivia',
    'Brunei Darussalam':'Brunei', 
    'Myanmar': 'Burma', 
    'Congo':'Congo (Brazzaville)', 
    'Democratic Republic of the Congo':'Congo (Kinshasa)', 
    'Côte d\'Ivoire':'Cote d\'Ivoire', 
    'Iran (Islamic Republic of)':'Iran', 
    'Republic of Korea':'Korea, South', 
    'Lao People\'s Democratic Republic':'Laos', 
    'Republic of Moldova':'Moldova', 
    'Russian Federation':'Russia', 
    'Syrian Arab Republic':'Syria', 
    'China, Taiwan Province of China':'Taiwan*', 
    'United Republic of Tanzania':'Tanzania', 
    'United States of America':'US', 
    'Venezuela (Bolivarian Republic of)':'Venezuela', 
    'Viet Nam':'Vietnam', 
    'State of Palestine':'West Bank and Gaza'}, inplace=True)

df_pop2019 = pop2019.drop(columns=['LocID','VarID','Variant','Time','MidPeriod'])
df_pop2019

,Location,PopMale,PopFemale,PopTotal,PopDensity
69,Afghanistan,19529.727,18512.030,38041.757,58.269
953,Africa,653513.680,654550.496,1308064.176,44.119
1837,African Group,652644.714,653675.858,1306320.572,44.464
1988,African Union,652949.469,653953.561,1306903.030,44.085
2139,African Union: Central Africa,76945.498,77068.207,154013.705,29.192
...,...,...,...,...,...
277314,World,3889034.611,3824433.594,7713468.205,59.291
278198,World Bank Regional Groups (developing only),3261387.881,3191129.174,6452517.055,70.258
278349,Yemen,14692.284,14469.638,29161.922,55.234
279233,Zambia,8843.214,9017.820,17861.034,24.026
280117,Zimbabwe,6983.353,7662.120,14645.473,37.858

In [4]:
# prepare the gdp dataframe from gdp data of world bank.
gdp = pd.read_csv('data/gdp_world_bank/gdp_world_bank.csv', skiprows=4)
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,NaN

In [5]:
df_gdp = gdp[['Country Name', '2018']]
df_gdp

     Country Name          2018
0           Aruba           NaN
1     Afghanistan  1.936297e+10
2          Angola  1.057510e+11
3         Albania  1.510250e+10
4         Andorra  3.236544e+09
..            ...           ...
259        Kosovo  7.938991e+09
260   Yemen, Rep.  2.691440e+10
261  South Africa  3.682889e+11
262        Zambia  2.672007e+10
263      Zimbabwe  3.100052e+10

[264 rows x 2 columns]

In [6]:
df_gdp.rename(columns={"Country Name": "Location"}, errors="raise", inplace=True)

In [7]:
countries_covid19_only = df_covid[~df_covid.index.isin(df_gdp.Location)]
countries_covid19_only.index

Index(['Bahamas', 'Brunei', 'Burma', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Czechia', 'Diamond Princess', 'Egypt', 'Gambia', 'Holy See', 'Iran',
       'Korea, South', 'Kyrgyzstan', 'Laos', 'MS Zaandam', 'Russia',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Slovakia', 'Syria', 'Taiwan*',
       'US', 'Venezuela'],
      dtype='object', name='Country_Region')

In [8]:
len(countries_covid19_only)

24

In [18]:
df_gdp[df_gdp.Location.str.contains('Hong Kong')]

                Location          2018
94  Hong Kong SAR, China  3.626820e+11

In [25]:
df_covid[df_covid.index.str.contains('Macao')]

Empty DataFrame
Columns: [Confirmed, Deaths, Recovered, Active, fatality_rate]
Index: []

In [10]:
df_gdp.Location.replace(
    {'Bahamas, The':'Bahamas', 
    'Brunei Darussalam':'Brunei', 
    'Myanmar': 'Burma', 
    'Congo, Rep.':'Congo (Brazzaville)', 
    'Congo, Dem. Rep.':'Congo (Kinshasa)', 
    'Czech Republic':'Czechia', 
    'Egypt, Arab Rep.':'Egypt',
    'Gambia, The':'Gambia',
    'Iran, Islamic Rep.':'Iran',
    'Korea, Rep.':'Korea, Rep.',
    'Kyrgyz Republic':'Kyrgyzstan',
    'Lao PDR':'Laos',
    'Russian Federation	':'Russia',
    'St. Kitts and Nevis':'Saint Kitts and Nevis',
    'St. Lucia':'Saint Lucia',
    'St. Vincent and the Grenadines':'Saint Vincent and the Grenadines',
    'Slovak Republic':'Slovakia',
    'Syrian Arab Republic':'Syria',
    'United States':'US',
    'Venezuela, RB':'Venezuela'}, inplace=True)

In [11]:
# now join the covid and population data frames

df_covid19_pop2019 = pd.merge(df_covid, df_pop2019, how='inner', left_on='Country_Region', right_on='Location')
df_covid19_pop2019.head()

,Confirmed,Deaths,Recovered,Active,fatality_rate,Location,PopMale,PopFemale,PopTotal,PopDensity
0,281,6,10,265,0.021352,Afghanistan,19529.727,18512.030,38041.757,58.269
1,304,17,89,198,0.055921,Albania,1466.785,1414.128,2880.913,105.143
2,1171,105,62,1004,0.089667,Algeria,21749.666,21303.388,43053.054,18.076
3,439,16,16,407,0.036446,Andorra,NaN,NaN,77.146,164.140
4,8,2,1,5,0.250000,Angola,15744.779,16080.520,31825.299,25.528

In [15]:
df_covid19_pop2019.shape

(178, 10)

In [12]:
# locations that are in the covid19 dataset but not in population or gdp datasets:
# Diamond Princess, Ms Zaandam, Kosovo, Taiwan, Holy See.

df_overview = pd.merge(df_covid19_pop2019, df_gdp, how='inner', left_on='Location', right_on='Location')
df_overview.head()

,Confirmed,Deaths,Recovered,Active,fatality_rate,Location,PopMale,PopFemale,PopTotal,PopDensity,2018
0,281,6,10,265,0.021352,Afghanistan,19529.727,18512.030,38041.757,58.269,1.936297e+10
1,304,17,89,198,0.055921,Albania,1466.785,1414.128,2880.913,105.143,1.510250e+10
2,1171,105,62,1004,0.089667,Algeria,21749.666,21303.388,43053.054,18.076,1.737580e+11
3,439,16,16,407,0.036446,Andorra,NaN,NaN,77.146,164.140,3.236544e+09
4,8,2,1,5,0.250000,Angola,15744.779,16080.520,31825.299,25.528,1.057510e+11

In [14]:
df_overview.shape

(174, 11)

In [26]:
df_overview.rename(columns={"2018": "gdp_2018"}, errors="raise", inplace=True)
df_overview

,Confirmed,Deaths,Recovered,Active,fatality_rate,Location,PopMale,PopFemale,PopTotal,PopDensity,gdp_2018
0,281,6,10,265,0.021352,Afghanistan,19529.727,18512.030,38041.757,58.269,1.936297e+10
1,304,17,89,198,0.055921,Albania,1466.785,1414.128,2880.913,105.143,1.510250e+10
2,1171,105,62,1004,0.089667,Algeria,21749.666,21303.388,43053.054,18.076,1.737580e+11
3,439,16,16,407,0.036446,Andorra,NaN,NaN,77.146,164.140,3.236544e+09
4,8,2,1,5,0.250000,Angola,15744.779,16080.520,31825.299,25.528,1.057510e+11
...,...,...,...,...,...,...,...,...,...,...,...
169,153,7,52,94,0.045752,Venezuela,14045.228,14470.601,28515.829,32.329,NaN
170,237,0,85,152,0.000000,Vietnam,48151.352,48310.756,96462.108,311.098,2.452137e+11
171,194,1,21,172,0.005155,West Bank and Gaza,2526.350,2455.072,4981.422,827.479,1.461590e+10
172,39,1,2,36,0.025641,Zambia,8843.214,9017.820,17861.034,24.026,2.672007e+10
173,9,1,0,8,0.111111,Zimbabwe,6983.353,7662.120,14645.473,37.858,3.100052e+10

In [33]:
df_overview['gdp_per_capita'] = df_overview.gdp_2018 / (df_overview.PopTotal * 1000)
df_overview.set_index('Location', inplace=True)

In [34]:
df_overview.sort_values(by = 'gdp_per_capita', ascending=False).head(25)

,Confirmed,Deaths,Recovered,Active,fatality_rate,PopMale,PopFemale,PopTotal,PopDensity,gdp_2018,gdp_per_capita
Location,,,,,,,,,,,
Monaco,64,1,3,60,0.015625,NaN,NaN,38.967,26152.349,7.184844e+09,184382.790377
Luxembourg,2612,31,500,2081,0.011868,311.110,304.620,615.730,237.734,7.088533e+10,115124.041192
Switzerland,19606,591,4846,14169,0.030144,4260.661,4330.700,8591.361,217.415,7.051404e+11,82075.512153
Norway,5370,59,32,5279,0.010987,2716.812,2662.047,5378.859,14.726,4.341666e+11,80717.233047
Ireland,4273,120,5,4148,0.028083,2422.418,2460.080,4882.498,70.874,3.824875e+11,78338.483811
Iceland,1364,4,309,1051,0.002933,170.230,168.807,339.037,3.382,2.587848e+10,76329.355675
Qatar,1075,3,93,979,0.002791,2133.521,698.550,2832.071,243.934,1.913621e+11,67569.664713
Singapore,1114,5,282,827,0.004488,3038.226,2766.117,5804.343,8291.919,3.641567e+11,62738.652380
US,275586,7087,9707,0,0.025716,162826.299,166238.618,329064.917,35.974,2.054434e+13,62432.494002
Denmark,3946,139,1287,2520,0.035226,2869.672,2902.205,5771.877,136.033,3.556753e+11,61622.125538
Australia,5330,28,649,4653,0.005253,12551.311,12651.889,25203.200,3.281,1.433904e+12,56893.741608
Sweden,6131,358,205,5568,0.058392,5025.597,5010.794,10036.391,24.459,5.560865e+11,55407.017217
Netherlands,15821,1490,260,14071,0.094179,8514.835,8582.288,17097.123,507.032,9.136585e+11,53439.310562
Austria,11524,168,2022,9334,0.014578,4409.380,4545.728,8955.108,108.667,4.552858e+11,50840.907562
Finland,1615,20,300,1295,0.012384,2727.210,2804.949,5532.159,18.204,2.767431e+11,50024.433592
Germany,91159,1275,24575,65309,0.013987,41249.115,42267.931,83517.046,239.606,3.947620e+12,47267.238864
Belgium,16770,1143,2872,12755,0.068157,5711.479,5827.847,11539.326,381.087,5.427611e+11,47035.770729
Canada,12437,179,2175,0,0.014393,18563.538,18847.500,37411.038,4.114,1.713342e+12,45797.759070
Israel,7428,40,403,6985,0.005385,4237.327,4282.046,8519.373,393.686,3.705880e+11,43499.442641
New Zealand,868,1,103,764,0.001152,2351.162,2431.900,4783.062,18.165,2.049239e+11,42843.667481
France,65202,6520,14135,44547,0.099997,31524.494,33605.237,65129.731,118.946,2.777535e+12,42646.195472
United Arab Emirates,1264,9,108,1147,0.007120,6766.806,3003.720,9770.526,116.872,4.141789e+11,42390.649448
United Kingdom,38689,3611,208,34870,0.093334,33351.435,34178.726,67530.161,279.131,2.855297e+12,42281.799558
Andorra,439,16,16,407,0.036446,NaN,NaN,77.146,164.140,3.236544e+09,41953.489609
Japan,2617,63,514,2040,0.024073,61950.310,64909.989,126860.299,347.987,4.971323e+12,39187.382648

In [36]:
corr1 = df_overview.fatality_rate.corr(df_overview.gdp_per_capita)
corr1

-0.09583896959040691