# Covid19 and Population Data and GDP Data Joined

In [1]:
import pandas as pd
import numpy as np

print('pandas version: ', pd.__version__)
print('numpy version: ', np.version.version)

pandas version:  1.0.3
numpy version:  1.18.1

In [2]:
# prepare the covid dataframe from covid data of Johns Hopkins University

df_covid = pd.read_csv('data/2020-04-08.csv')

# construct a dataframe with six columns: 
# Country_Region (index), Confirmed, Deaths, Recovered, Active
df_covid = df_covid.groupby('Country_Region').agg({'Confirmed': np.sum, 'Deaths': np.sum, 'Recovered': np.sum, 'Active': np.sum})

df_covid['fatality_rate'] = df_covid.Deaths / df_covid.Confirmed

df_covid

                    Confirmed  Deaths  Recovered  Active  fatality_rate
Country_Region
Afghanistan               444      14         29     401       0.031532
Albania                   400      22        154     224       0.055000
Algeria                  1572     205        237    1130       0.130407
Andorra                   564      23         52     489       0.040780
Angola                     19       2          2      15       0.105263
...                       ...     ...        ...     ...            ...
Vietnam                   251       0        126     125       0.000000
West Bank and Gaza        263       1         44     218       0.003802
Western Sahara              4       0          0       4       0.000000
Zambia                     39       1          7      31       0.025641
Zimbabwe                   11       3          0       8       0.272727

[184 rows x 5 columns]

In [3]:
# prepare the population dataframe from population data of united nations.
# The population columns are all in thousand persons. 
population = pd.read_csv('data/WPP2019_TotalPopulationBySex.csv')
pop2019 = population[population.Time == 2019]

pop2019.Location.replace(
    {'Bolivia (Plurinational State of)':'Bolivia',
    'Brunei Darussalam':'Brunei', 
    'Myanmar': 'Burma', 
    'Congo':'Congo (Brazzaville)', 
    'Democratic Republic of the Congo':'Congo (Kinshasa)', 
    'CÃ´te d\'Ivoire':'Cote d\'Ivoire', 
    'Iran (Islamic Republic of)':'Iran', 
    'Republic of Korea':'Korea, South', 
    'Lao People\'s Democratic Republic':'Laos', 
    'Republic of Moldova':'Moldova', 
    'Russian Federation':'Russia', 
    'Syrian Arab Republic':'Syria', 
    'China, Taiwan Province of China':'Taiwan*', 
    'United Republic of Tanzania':'Tanzania', 
    'United States of America':'US', 
    'Venezuela (Bolivarian Republic of)':'Venezuela', 
    'Viet Nam':'Vietnam', 
    'State of Palestine':'West Bank and Gaza'}, inplace=True)

df_pop2019 = pop2019.drop(columns=['LocID','VarID','Variant','Time','MidPeriod'])
df_pop2019

C:\dev\runtime\anaconda\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,Location,PopMale,PopFemale,PopTotal,PopDensity
69,Afghanistan,19529.727,18512.030,38041.757,58.269
953,Africa,653513.680,654550.496,1308064.176,44.119
1837,African Group,652644.714,653675.858,1306320.572,44.464
1988,African Union,652949.469,653953.561,1306903.030,44.085
2139,African Union: Central Africa,76945.498,77068.207,154013.705,29.192
...,...,...,...,...,...
277314,World,3889034.611,3824433.594,7713468.205,59.291
278198,World Bank Regional Groups (developing only),3261387.881,3191129.174,6452517.055,70.258
278349,Yemen,14692.284,14469.638,29161.922,55.234
279233,Zambia,8843.214,9017.820,17861.034,24.026
280117,Zimbabwe,6983.353,7662.120,14645.473,37.858

In [4]:
# prepare the gdp dataframe from gdp data of world bank.
gdp = pd.read_csv('data/gdp_world_bank/gdp_world_bank.csv', skiprows=4)
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,NaN

In [5]:
df_gdp = gdp[['Country Name', '2018']]
df_gdp

     Country Name          2018
0           Aruba           NaN
1     Afghanistan  1.936297e+10
2          Angola  1.057510e+11
3         Albania  1.510250e+10
4         Andorra  3.236544e+09
..            ...           ...
259        Kosovo  7.938991e+09
260   Yemen, Rep.  2.691440e+10
261  South Africa  3.682889e+11
262        Zambia  2.672007e+10
263      Zimbabwe  3.100052e+10

[264 rows x 2 columns]

In [6]:
df_gdp.rename(columns={"Country Name": "Location"}, errors="raise", inplace=True)

C:\dev\runtime\anaconda\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
countries_covid19_only = df_covid[~df_covid.index.isin(df_gdp.Location)]
countries_covid19_only.index

Index(['Bahamas', 'Brunei', 'Burma', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Czechia', 'Diamond Princess', 'Egypt', 'Gambia', 'Holy See', 'Iran',
       'Korea, South', 'Kyrgyzstan', 'Laos', 'MS Zaandam', 'Russia',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Slovakia', 'Syria', 'Taiwan*',
       'US', 'Venezuela', 'Western Sahara'],
      dtype='object', name='Country_Region')

In [8]:
len(countries_covid19_only)

25

In [9]:
df_gdp[df_gdp.Location.str.contains('Hong Kong')]

                Location          2018
94  Hong Kong SAR, China  3.626820e+11

In [10]:
df_covid[df_covid.index.str.contains('Macao')]

Empty DataFrame
Columns: [Confirmed, Deaths, Recovered, Active, fatality_rate]
Index: []

In [11]:
df_gdp.Location.replace(
    {'Bahamas, The':'Bahamas', 
    'Brunei Darussalam':'Brunei', 
    'Myanmar': 'Burma', 
    'Congo, Rep.':'Congo (Brazzaville)', 
    'Congo, Dem. Rep.':'Congo (Kinshasa)', 
    'Czech Republic':'Czechia', 
    'Egypt, Arab Rep.':'Egypt',
    'Gambia, The':'Gambia',
    'Iran, Islamic Rep.':'Iran',
    'Korea, Rep.':'Korea, Rep.',
    'Kyrgyz Republic':'Kyrgyzstan',
    'Lao PDR':'Laos',
    'Russian Federation	':'Russia',
    'St. Kitts and Nevis':'Saint Kitts and Nevis',
    'St. Lucia':'Saint Lucia',
    'St. Vincent and the Grenadines':'Saint Vincent and the Grenadines',
    'Slovak Republic':'Slovakia',
    'Syrian Arab Republic':'Syria',
    'United States':'US',
    'Venezuela, RB':'Venezuela'}, inplace=True)

C:\dev\runtime\anaconda\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [12]:
# now join the covid and population data frames

df_covid19_pop2019 = pd.merge(df_covid, df_pop2019, how='inner', left_on='Country_Region', right_on='Location')
df_covid19_pop2019.head()

,Confirmed,Deaths,Recovered,Active,fatality_rate,Location,PopMale,PopFemale,PopTotal,PopDensity
0,444,14,29,401,0.031532,Afghanistan,19529.727,18512.030,38041.757,58.269
1,400,22,154,224,0.055000,Albania,1466.785,1414.128,2880.913,105.143
2,1572,205,237,1130,0.130407,Algeria,21749.666,21303.388,43053.054,18.076
3,564,23,52,489,0.040780,Andorra,NaN,NaN,77.146,164.140
4,19,2,2,15,0.105263,Angola,15744.779,16080.520,31825.299,25.528

In [13]:
df_covid19_pop2019.shape

(181, 10)

In [14]:
# locations that are in the covid19 dataset but not in population or gdp datasets:
# Diamond Princess, Ms Zaandam, Kosovo, Taiwan, Holy See.

df_overview = pd.merge(df_covid19_pop2019, df_gdp, how='inner', left_on='Location', right_on='Location')
df_overview.head()

,Confirmed,Deaths,Recovered,Active,fatality_rate,Location,PopMale,PopFemale,PopTotal,PopDensity,2018
0,444,14,29,401,0.031532,Afghanistan,19529.727,18512.030,38041.757,58.269,1.936297e+10
1,400,22,154,224,0.055000,Albania,1466.785,1414.128,2880.913,105.143,1.510250e+10
2,1572,205,237,1130,0.130407,Algeria,21749.666,21303.388,43053.054,18.076,1.737580e+11
3,564,23,52,489,0.040780,Andorra,NaN,NaN,77.146,164.140,3.236544e+09
4,19,2,2,15,0.105263,Angola,15744.779,16080.520,31825.299,25.528,1.057510e+11

In [15]:
df_overview.shape

(176, 11)

In [16]:
df_overview.rename(columns={"2018": "gdp_2018"}, errors="raise", inplace=True)
df_overview

,Confirmed,Deaths,Recovered,Active,fatality_rate,Location,PopMale,PopFemale,PopTotal,PopDensity,gdp_2018
0,444,14,29,401,0.031532,Afghanistan,19529.727,18512.030,38041.757,58.269,1.936297e+10
1,400,22,154,224,0.055000,Albania,1466.785,1414.128,2880.913,105.143,1.510250e+10
2,1572,205,237,1130,0.130407,Algeria,21749.666,21303.388,43053.054,18.076,1.737580e+11
3,564,23,52,489,0.040780,Andorra,NaN,NaN,77.146,164.140,3.236544e+09
4,19,2,2,15,0.105263,Angola,15744.779,16080.520,31825.299,25.528,1.057510e+11
...,...,...,...,...,...,...,...,...,...,...,...
171,167,9,65,93,0.053892,Venezuela,14045.228,14470.601,28515.829,32.329,NaN
172,251,0,126,125,0.000000,Vietnam,48151.352,48310.756,96462.108,311.098,2.452137e+11
173,263,1,44,218,0.003802,West Bank and Gaza,2526.350,2455.072,4981.422,827.479,1.461590e+10
174,39,1,7,31,0.025641,Zambia,8843.214,9017.820,17861.034,24.026,2.672007e+10
175,11,3,0,8,0.272727,Zimbabwe,6983.353,7662.120,14645.473,37.858,3.100052e+10

In [17]:
df_overview['gdp_per_capita'] = df_overview.gdp_2018 / (df_overview.PopTotal * 1000)
df_overview.set_index('Location', inplace=True)

In [18]:
df_overview.sort_values(by = 'gdp_per_capita', ascending=False).head(25)

,Confirmed,Deaths,Recovered,Active,fatality_rate,PopMale,PopFemale,PopTotal,PopDensity,gdp_2018,gdp_per_capita
Location,,,,,,,,,,,
Monaco,81,1,4,76,0.012346,NaN,NaN,38.967,26152.349,7.184844e+09,184382.790377
Luxembourg,3034,46,500,2488,0.015162,311.110,304.620,615.730,237.734,7.088533e+10,115124.041192
Switzerland,23280,895,9800,12585,0.038445,4260.661,4330.700,8591.361,217.415,7.051404e+11,82075.512153
Norway,6086,101,32,5953,0.016595,2716.812,2662.047,5378.859,14.726,4.341666e+11,80717.233047
Ireland,6074,235,25,5814,0.038689,2422.418,2460.080,4882.498,70.874,3.824875e+11,78338.483811
Iceland,1616,6,633,977,0.003713,170.230,168.807,339.037,3.382,2.587848e+10,76329.355675
Qatar,2210,6,178,2026,0.002715,2133.521,698.550,2832.071,243.934,1.913621e+11,67569.664713
Singapore,1623,6,406,1211,0.003697,3038.226,2766.117,5804.343,8291.919,3.641567e+11,62738.652380
US,429052,14695,23559,0,0.034250,162826.299,166238.618,329064.917,35.974,2.054434e+13,62432.494002
Denmark,5597,218,1763,3616,0.038949,2869.672,2902.205,5771.877,136.033,3.556753e+11,61622.125538
Australia,6010,50,1080,4880,0.008319,12551.311,12651.889,25203.200,3.281,1.433904e+12,56893.741608
Sweden,8419,687,205,7527,0.081601,5025.597,5010.794,10036.391,24.459,5.560865e+11,55407.017217
Netherlands,20682,2255,272,18155,0.109032,8514.835,8582.288,17097.123,507.032,9.136585e+11,53439.310562
Austria,12942,273,4512,8157,0.021094,4409.380,4545.728,8955.108,108.667,4.552858e+11,50840.907562
Finland,2487,40,300,2147,0.016084,2727.210,2804.949,5532.159,18.204,2.767431e+11,50024.433592
Germany,113296,2349,46300,64647,0.020733,41249.115,42267.931,83517.046,239.606,3.947620e+12,47267.238864
Belgium,23403,2240,4681,16482,0.095714,5711.479,5827.847,11539.326,381.087,5.427611e+11,47035.770729
Canada,19141,407,4154,0,0.021263,18563.538,18847.500,37411.038,4.114,1.713342e+12,45797.759070
Israel,9404,73,801,8530,0.007763,4237.327,4282.046,8519.373,393.686,3.705880e+11,43499.442641
New Zealand,1210,1,282,927,0.000826,2351.162,2431.900,4783.062,18.165,2.049239e+11,42843.667481
France,113959,10887,21452,81620,0.095534,31524.494,33605.237,65129.731,118.946,2.777535e+12,42646.195472
United Arab Emirates,2659,12,239,2408,0.004513,6766.806,3003.720,9770.526,116.872,4.141789e+11,42390.649448
United Kingdom,61474,7111,345,54018,0.115675,33351.435,34178.726,67530.161,279.131,2.855297e+12,42281.799558
Andorra,564,23,52,489,0.040780,NaN,NaN,77.146,164.140,3.236544e+09,41953.489609
Japan,4257,93,622,3542,0.021846,61950.310,64909.989,126860.299,347.987,4.971323e+12,39187.382648

In [19]:
corr1 = df_overview.fatality_rate.corr(df_overview.gdp_per_capita)
corr1

-0.09733521568682872